body{
	width: auto;
	height: 375px;
	overflow: hidden;
	margin: 0 auto;
}
*{margin:0; padding:0;}
.zjnw-contain {
	width: 375px;
	color: #666;
	background-color: #fff;
	overflow: auto;
}
.typenw01-sentence-info > h2 > span{
	color: #97DBFF;
	text-align: center;
}
#typenw03SenInfo{
	text-align: center;
	margin: 10px 0;
}

.typenw01-sentence-info > em,
.typenw02-sentence-info > em,
.typenw03-sentence-info > em {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	padding: 0 auto;
	background: transparent url(../img/trumpet.png) no-repeat center / 50px 50px;
	cursor: pointer;
}

.typenw01-wiki,
.typenw02-wiki,
.typenw03-wiki {
	margin: 5px;
	display: none;
	padding-top: 20px;
	height: 55%;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.typenw01-wiki > em,
.typenw02-wiki > em,
.typenw03-wiki > em {
	float: right;
	width: 30px;
	height: 30px;
	background: transparent url(../img/close-alert.png) no-repeat center / 30px 30px;
	cursor: pointer;
}


.typenw01-choose-area{
	background-color: #ccc;
	overflow: auto;
}

.typenw01-choose-area > ul,
.typenw02-choose-area > ul,
.typenw03-choose-area > ul {
	list-style-type: none;
}

.typenw01-choose-area > ul > li,
.typenw02-choose-area > ul > li {
	float: left;
	width: 48%;
	height: 150px;
	background-color: #ccc;
	padding: 3px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	transition: background-color 0.4s;
}


.typenw03-choose-area > ul > li{
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 0;
	font-size: 20px;
}
.typenw01-choose-area img,
.typenw02-choose-area img,
.typenw03-choose-area img
{
	background-color: #ccc;
	width: 100% ;
	height: 100%;
	line-height: 1;
	vertical-align: middle;
}